<h3>Perfil de Usuario</h3>
<br>
<p>Bienvenido!, {{user.first_name}} - {{user.last_name}} </p>
<br>
<p>E-mail: {{user.email}} </p>
<br>
<p>Edad: {{user.age}} </p>
<br>
<a href="/products">Productos</a>
<br>
<a href="api/sessions/logout">Cerrar Sesión</a>